<span style="cursor: pointer;" routerLink=".."><strong>&lt; Back</strong></span>
<div class="my-3">
  <h3>
    BehaviourSubject<a href="https://www.learnrxjs.io/learn-rxjs/subjects/behaviorsubject" target="_blank"
      ><img
        src="../../../assets/link.gif"
        width="25"
        height="25"
        style="margin-left: 5px; cursor: pointer"
      />
    </a>
  </h3>
<br/>
    <div class="row">
      <strong>Parent Component Value : <span class="text-primary">{{name}}</span></strong>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">

    <app-component1></app-component1>

    </div><div class="col-md-4">
      <app-component2></app-component2>


    </div><div class="col-md-4">

    <app-component3></app-component3>

    </div>

  </div>
</div>
