<div class="my-3">
  <h3>
    from<a
      href="https://rxjs.dev/api/index/function/of
        "
      target="_blank"
      ><img
        src="../../../assets/link.gif"
        width="25"
        height="25"
        style="margin-left: 5px; cursor: pointer"
      />
    </a>
  </h3>
  <strong>Example 1</strong>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <p
        class="bg-light py-3 px-3 border rounded"
        style="word-break: break-word"
      >
        <strong>Data : </strong
        >from([January,February,March,April,May,June,July,August,September,October,November,December])
      </p>
      <div class="card">
        <div class="card-header">
          <strong>Month Emitted</strong>
        </div>
        <div class="card-body">
          <ul id="fromvideoContainer"></ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <strong>Example 2</strong>
  <div>
    <sub>** delay is 3 seconds for promise to get resolved</sub>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <p
        class="bg-light py-3 px-3 border rounded"
        style="word-break: break-word"
      >
        <strong>Data : </strong>Promise to Observables
      </p>
      <div class="card">
        <div class="card-header">
          <strong>Promise Emitted</strong>
        </div>
        <div class="card-body">
          <ul id="fromvideoContainer1"></ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <strong>Example 3</strong>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <p
        class="bg-light py-3 px-3 border rounded"
        style="word-break: break-word"
      >
        <strong>Data : </strong>String to Observables
      </p>
      <div class="card">
        <div class="card-header">
          <strong>String Emitted</strong>
        </div>
        <div class="card-body">
          <ul id="fromvideoContainer2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
