<span style="cursor: pointer;" routerLink=".."><strong>&lt; Back</strong></span>
<div class="my-3">
  <h3>
    of<a
      href="https://rxjs.dev/api/index/function/of
      "
      target="_blank"
      ><img
        src="../../../assets/link.gif"
        width="25"
        height="25"
        style="margin-left: 5px; cursor: pointer"
      />
    </a>
  </h3>
  <strong>Example 1</strong>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <p
        class="bg-light py-3 px-3 border rounded"
        style="word-break: break-word"
      >
        <strong>Data : </strong
        >of(January,February,March,April,May,June,July,August,September,October,November,December)
      </p>
      <div class="card">
        <div class="card-header">
          <strong>Months Emitted</strong>
        </div>
        <div class="card-body">
          <ul id="ofvideoContainer"></ul>
        </div>
      </div>
    </div>
  </div>
  <strong>Example 2</strong>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <p
        class="bg-light py-3 px-3 border rounded"
        style="word-break: break-word"
      >
        <strong>Data : </strong
        >of(&#123;name:'React',name1:'Angular',name2:'Vue',name3:'php'&#125;)
      </p>
      <div class="card">
        <div class="card-header">
          <strong>Name Emitted</strong>
        </div>
        <div class="card-body">
          <ul id="ofvideoContainer1">
            <li>{{ result.name }}</li>
            <li>{{ result.name1 }}</li>
            <li>{{ result.name2 }}</li>
            <li>{{ result.name3 }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
