<span style="cursor: pointer;" routerLink=".."><strong>&lt; Back</strong></span>
<div class="my-3">
  <h3>
    concatMap<a
      href="https://www.learnrxjs.io/learn-rxjs/operators/transformation/concatmap"
      target="_blank"
      ><img
        src="../../../assets/link.gif"
        width="25"
        height="25"
        style="margin-left: 5px; cursor: pointer"
      />
    </a>
  </h3>
  <br />
  <br />
  <div class="row">
    <div class="col-md-4">
      <strong>Example 1 | Map</strong>
      <hr />
      <div class="card">
        <div class="card-header">
          <strong>Fruits : </strong>Mango,Apple,Orange,Grapes,Strawberry
        </div>
        <div class="card-body">
          <ul id="customContainer" class="list">

          </ul>
        </div>
      </div>
    </div>
    <br />
    <div class="col-md-4">
      <strong>Example 2 | Map + concatAll</strong>
      <hr />
      <div class="card">
        <div class="card-header">
          <strong>Colors : </strong>Yellow,
          Blue,
          Red,
          Green,
          Black,
          Brown
        </div>
        <div class="card-body">
          <ul id="customContainer2" class="list">
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <strong>Example 3 | concatMap</strong>
      <hr />
      <div class="card">
        <div class="card-header" ng-non-bindable>
          <strong>Furnitures : </strong>Chair,Table,Almirah,Drawer,Sofa set
        </div>
          <ul id="customContainer3" class="list">
          </ul>
      </div>
    </div>
  </div>
  <br>
</div>
