<div class="my-3">
  <h3>
    tap/do<a
      href="https://rxjs.dev/api/operators/tap
              "
      target="_blank"
      ><img
        src="../../../assets/link.gif"
        width="25"
        height="25"
        style="margin-left: 5px; cursor: pointer"
      />
    </a>
  </h3>

  <br />
  <br />
  <div class="row">
    <div class="col-md-6">
      <strong>Example 1</strong>
      <hr />
      <sub
        >** option selected will be used to unsubscribe the stream just before
        the value
        <select (change)="handleChange($event)">
          <option value="Yellow">Yellow</option>
          <option value="Blue">Blue</option>
          <option value="Red">Red</option>
          <option value="Green">Green</option>
          <option value="Black" selected>Black</option>
          <option value="Brown">Brown</option>
          <option value="Azure">Azure</option>
          <option value="Ivory">Ivory</option>
          <option value="Teal">Teal</option>
          <option value="Silver">Silver</option>
          <option value="Purple">Purple</option>
          <option value="Navy Blue">Navy Blue</option>
          <option value="Pea Grean">Pea Grean</option>
          <option value="Gray">Gray</option>
          <option value="Orange">Orange</option>
          <option value="Maroon">Maroon</option>
          <option value="Charcoal">Charcoal</option>
          <option value="Aquamarine">Aquamarine</option>
          <option value="Coral">Coral</option>
          <option value="Fuchsia">Fuchsia</option>
          <option value="Wheat">Wheat</option>
          <option value="Lime">Lime</option>
          <option value="Crimson">Crimson</option>
          <option value="Khaki">Khaki</option>
          <option value="Hot pink">Hot pink</option>
          <option value="Magenta">Magenta</option>
          <option value="Olden">Olden</option>
          <option value="Plum">Plum</option>
          <option value="Olive">Olive</option>
          <option value="Cyan">Cyan</option>
        </select></sub
      >
      <br />
      <br />
      <div class="card">
        <div class="card-header">
          <strong>Tap</strong>
        </div>
        <div class="card-body">
          <ul id="tapContainer" class="list"></ul>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
