<div class="my-3">
  <h3>
    asyncSubject<a href="https://www.learnrxjs.io/learn-rxjs/subjects/asyncsubject"
      ><img
        src="../../../assets/link.gif"
        width="25"
        height="25"
        style="margin-left: 5px; cursor: pointer"
      />
    </a>
  </h3>
<br/>
<form class="row g-3 justify-content-center" onsubmit="javascript:return false">
  <div class="col-auto ">
    <input type="text" class="form-control" id="inputPassword2" placeholder="Enter a Value" #addfield>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary mb-3" (click)="onAdd(addfield.value)">Add</button>
  </div>
</form>
<sub>**click on complete subscription button to get the latest data</sub>
<br/>
<br/>
  <div class="row">
    <div class="col-md-4">
      <strong>Channel 1</strong>
      <hr>
      <ul class="video-list">
        <li>
          <strong>Data : {{emittedValue}}</strong>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <strong>Subscription</strong>
      <hr>
      <button class="btn btn-success" (click)="handleSubscribe()">Complete Subscription</button>
    </div>
  </div>
</div>
