<div class="row" style="overflow: hidden;">
  <div class="col-lg-3 mt-4" routerLink="fromEvent" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from event"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">fromEvent</h5>
        <hr />
        <p class="card-text">
          Creates an Observable that emits events of a specific type coming from
          the given event target
        </p>
        <!-- <a routerLink="fromEvent" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="interval" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.`ico"
        class="card-img-top"
        alt="interval event"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">Interval</h5>
        <hr />
        <p class="card-text">
          Creates an Observable that emits sequential numbers every specified
          interval of time, on a specified SchedulerLike.
        </p>

        <!-- <a routerLink="interval" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="timer" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="timer event"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">Timer</h5>
        <hr />
        <p class="card-text">
          Creates an observable that will wait for a specified time period, or
          exact date, before emitting the number 0.
        </p>
        <!-- <a routerLink="timer" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="of" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="of function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">of</h5>
        <hr />
        <p class="card-text">
          Converts the arguments to an observable sequence.
        </p>
        <br />
        <!-- <a routerLink="of" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="from" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">from</h5>
        <hr />
        <p class="card-text">
          Creates an Observable from an Array, an array-like object, a Promise,
          an iterable object, or an Observable-like object.
        </p>
        <!-- <a routerLink="from" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="toArray" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">toArray</h5>
        <hr />
        <p class="card-text">
          Collects all source emissions and emits them as an array when the
          source completes.
        </p>
        <br />
        <!-- <a routerLink="toArray" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div
    class="col-lg-3 mt-4"
    routerLink="customObservable"
    style="cursor: pointer"
  >
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">Custom Observable</h5>
        <hr />
        <p class="card-text">
          Creates a new Observable, that will execute the specified function
          when an Observer subscribes to it.
        </p>
        <!-- <a routerLink="customObservable" class="btn btn-primary" >Check Example</a
        > -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="map" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">map</h5>
        <hr />
        <p class="card-text">
          transform the items emitted by an Observable by applying a function to
          each item
        </p>
        <!-- <a routerLink="map" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="pluck" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">pluck</h5>
        <hr />
        <p class="card-text">
          Maps each source value to its specified nested property
        </p>
        <br />
        <!-- <a routerLink="pluck" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="filter" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">filter</h5>
        <hr />
        <p class="card-text">
          Filter items emitted by the source Observable by only emitting those
          that satisfy a specified predicate.
        </p>
        <!-- <a routerLink="filter" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="tap" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">tap/do</h5>
        <hr />
        <p class="card-text">
          Used to perform side-effects for notifications from the source
          observable
        </p>
        <br />
        <!-- <a routerLink="tap" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="take" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">take</h5>
        <hr />
        <p class="card-text">
          Emits only the first n values emitted by the source Observable.
        </p>
        <br />
        <!-- <a routerLink="take" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="takeLast" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">takeLast</h5>
        <hr />
        <p class="card-text">
          Emit the last n emitted values before completion
        </p>
        <br />
        <!-- <a routerLink="takeLast" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="takeUntil" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">takeUntil</h5>
        <hr />
        <p class="card-text">Emit values until provided observable emits</p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="retry" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">retry</h5>
        <hr />
        <p class="card-text">
          Retry an observable sequence a specific number of times should an
          error occur
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="retryWhen" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">retryWhen with scan & delay</h5>
        <hr />
        <p class="card-text">
          Retry an observable sequence on error based on custom criteria
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="debounceTime" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">debounce & debounceTime</h5>
        <hr />
        <p class="card-text">
          Discard emitted values that take less than the specified time between output
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="distinctUntilChnaged" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">distinctUntilChange</h5>
        <hr />
        <p class="card-text">
          Only emit when the current value is different than the last.
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="behaviourSubject" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">BehaviorSubject</h5>
        <hr />
        <p class="card-text">
          Requires an initial value and emits the current value to new subscribers
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="replaySubject" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">ReplaySubject</h5>
        <hr />
        <p class="card-text">
          A variant of Subject that "replays" old values to new subscribers by emitting them when they first subscribe.
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="asyncSubject" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">asyncSubject</h5>
        <hr />
        <p class="card-text">
          Emits its last value on completion
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="concat" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">concat</h5>
        <hr />
        <p class="card-text">
          Subscribe to observables in order as previous completes
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 mt-4" routerLink="merge" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">merge</h5>
        <hr />
        <p class="card-text">
          Turn multiple observables into a single observable
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>

  </div>

  <div class="col-lg-3 mt-4" routerLink="mergeMap" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">mergeMap/flatMap</h5>
        <hr />
        <p class="card-text">
          Map to observable, emit values.
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>

  </div>

  <div class="col-lg-3 mt-4" routerLink="concatMap" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">concatMap</h5>
        <hr />
        <p class="card-text">
          Map values to inner observable, subscribe and emit in order.
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>

  </div>


  <div class="col-lg-3 mt-4" routerLink="switchMap" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">switchMap</h5>
        <hr />
        <p class="card-text">
          Map to observable, complete previous inner observable, emit values.
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>

  </div>
  <div class="col-lg-3 mt-4" routerLink="compare" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">comparision of flattening operator</h5>
        <hr />
        <p class="card-text">
          Comparing mergeMap,concatMap and switchMap
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>

  </div>
  <div class="col-lg-3 mt-4" routerLink="exhaustMap" style="cursor: pointer">
    <div class="card" style="border-color: cadetblue; background: ghostwhite">
      <!-- <img
        src="../../../assets/rxjs.ico"
        class="card-img-top"
        alt="from function"
        style="width: 150px; height: 150px; margin: auto"
      /> -->
      <div class="card-body">
        <h5 class="card-title">exhaustMap</h5>
        <hr />
        <p class="card-text">
          Map to inner observable, ignore other values until that observable completes.
        </p>
        <br />
        <br />
        <!-- <a routerLink="takeUntil" class="btn btn-primary">Check Example</a> -->
      </div>
    </div>

  </div>
</div>
