<span style="cursor: pointer;" routerLink=".."><strong>&lt; Back</strong></span>
<div class="my-3">
  <h3>
    distinctUntilChanged<a href="https://www.learnrxjs.io/learn-rxjs/operators/filtering/distinctuntilchanged" target="_blank"
      ><img
        src="../../../assets/link.gif"
        width="25"
        height="25"
        style="margin-left: 5px; cursor: pointer"
      />
    </a>
  </h3>

  <br />
  <br />
  <div class="row">
    <div class="col-md-6">
      <strong>Example 1</strong>
      <hr />
      <sub
        >**value entered will be the delay(in sec) in making API request
        <input
          type="number"
          [value]="delayTime"
          disabled
        />
      </sub>
      <br/>
      <sub>** if value entered is same as previous value for which a request has already been made then ,it will prevent the application to make a duplicate request</sub>
      <br />
      <br/>
      <div class="card">
        <div class="card-header">
          <strong>distinctUntilChanged</strong>

        </div>
        <br/>
        <div class="container">
          <div class="row">
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Search</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword" #myInput placeholder="Enter a parameter">
              </div>
          </div>
        </div>
        <div>
          <span *ngIf="reqData.length>0" class="text-success"><strong>Requested Data : </strong>{{reqData}}</span>
        </div>
        <br/>
      </div>

      </div>
      <br/>
    </div>
    <br />
  </div>
</div>
