<span style="cursor: pointer;" routerLink=".."><strong>&lt; Back</strong></span>
<div class="my-3">
  <h3>
    From Event<a
      href="https://rxjs.dev/api/index/function/fromEvent"
      target="_blank"
      ><img
        src="../../../assets/link.gif"
        width="25"
        height="25"
        style="margin-left: 5px; cursor: pointer"
      />
    </a>
  </h3>
  <i class="fas fa-external-link-alt"></i>
  <i class="fa fa-link" aria-hidden="true"></i>
  <br />
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header"><strong>Add Videos</strong></div>
        <div class="card-body">
          <button class="btn btn-primary" #addButton>Add</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header"><strong>Videos list</strong></div>
        <div class="card-body">
          <ul id="videoContainer"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
